<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cfgs.ejercicios_json" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MiApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TiempoCiudades"
            android:label="@string/title_activity_tiempo_ciudades" >
        </activity>
        <activity
            android:name=".Tiempo7Dias"
            android:label="@string/title_activity_tiempo7_dias"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ConversorXML_JSON"
            android:label="@string/title_activity_conversor_xml__json"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".DatosFutbol"
            android:label="@string/title_activity_datos_futbol"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".EquipoInfo"
            android:label="@string/title_activity_equipo_info"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".EncuentrosInfo"
            android:label="@string/title_activity_encuentros_info"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ListaJugadores"
            android:label="@string/title_activity_jugador_info"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".JugadorInfo"
            android:label="@string/title_activity_jugador_info"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
